.bodybg {
    -fx-background-image: url("assests/scene/scene1.png");
	-fx-background-size: 100% 100%;
}
.board {
    -fx-alignment: center;
    -fx-background-color: lightgray; /* optional */
    -fx-pref-width: 100%;
    -fx-pref-height: 100%;
}
